<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.name }} | {{ title }}</title>
    <link rel="stylesheet" href="/_assets/css/simple.min.css">
    <link rel="stylesheet" href="/_assets/css/main.css">
    <link href="/_assets/css/lightbox.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6f8e82c9ac.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ site.favicon }}" />
  </head>
  <body>
    <header>        
        <h1><a href="/"><img src="/_assets/uploads/images/logosamedi.jpg" alt=""> les éditions du samedi</a></h1>
        <nav>
            <ul>
            {% for post in collections.headernav | sort(collections.headernav,false,false,"order") %}
            <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
            {% endfor %}
            </ul>
        </nav>
    </header>
    <main>
	    {{ content | safe }}
    </main>
    <footer>
      <ul>
        <li><a href="https://www.facebook.com/editionsdusamedi" alt="Facebook" title="Facebook" target="_blank"><i class="fa-brands fa-facebook"><span class="sr-only">Facebook</span></i></a></li>
        <li><a href="https://www.instagram.com/leseditionsdusamedi" alt="Instagram" title="Instagram" target="_blank"><i class="fa-brands fa-instagram"><span class="sr-only">Instagram</span></i></a></li>
        <li><a href="https://re.lire.im/@editionsdusamedi" alt="Mastodon" title="Mastodon" target="_blank"><i class="fa-brands fa-mastodon"><span class="sr-only">Mastodon</span></i></a></li>
        <li><a href="/contact" alt="Contact" title="Contact"><i class="fa-regular fa-envelope"><span class="sr-only">Email</span></i></a></li>
        <li><a href="/feed.xml" alt="Flux RSS" title="Flux RSS"><i class="fa-solid fa-rss"><span class="sr-only">RSS</span></i></a></li>
      </ul>
  </footer>
  <script src="/_assets/js/lightbox-plus-jquery.min.js"></script>
  </body>
</html>